@import "src/utils/scss/base/_vars";

.sort-panel {
  display: flex;
  justify-content: space-around;
  border-radius: $borderRadius;
  border: 1px solid $borderColor;
}

.sort-panel__button {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: $fontSizeBase;
  text-transform: uppercase;
  line-height: 20px;
  letter-spacing: 0.5px;
  color: $textColor;
  background-color: $whiteColor;
  padding: 15px;
  cursor: pointer;
  border-right: 1px solid $borderColor;

  &:last-child {
    border-right: none;
    border-top-right-radius: $borderRadius;
    border-bottom-right-radius: $borderRadius;
  }

  &:first-child{
    border-top-left-radius: $borderRadius;
    border-bottom-left-radius: $borderRadius;
  }
}

.sort-panel__button-active{
  color: $whiteColor;
  background-color: $blueColor;
}