@import "src/utils/scss/base/_vars";

.sort-panel {
  display: flex;
  justify-content: space-around;
  border-radius: $borderRadius;
  border: 1px solid $borderColor;
}

.sort-panel__button {
  font-size: $fontSizeBase;
  text-transform: uppercase;
  line-height: 20px;
  letter-spacing: 0.5px;
  color: $textColor;
  background-color: $whiteColor;
  padding: 15px;
  cursor: pointer;
  border-right: 1px solid $borderColor;
  width: 100%;
  white-space: nowrap;
  transition: background-color 0.1s ease, color 0.1s ease;

  &:last-child {
    border-right: none;
    border-top-right-radius: $borderRadius;
    border-bottom-right-radius: $borderRadius;
  }

  &:first-child{
    border-top-left-radius: $borderRadius;
    border-bottom-left-radius: $borderRadius;
  }

  &:hover{
    background-color: $hoverCheckboxColor;
    color: $textColor;
  }
}

.sort-panel__button-active{
  color: $whiteColor;
  background-color: $blueColor;
}

@media (max-width: 768px){
  .sort-panel__button{
    white-space: pre-wrap;
  }
}