@import "src/utils/scss/base/_vars";

.checkbox-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;

  .checkbox-group__item {
    position: relative;
    padding-left: 20px;
    cursor: pointer;
    user-select: none;
    margin: 10px 0;
  }

  .checkbox-group__item-label{
    margin-left: 10px;
    cursor: pointer;
  }

  .checkbox-group__item-checkbox {
    position: absolute;
    cursor: pointer;
    width: 20px;
    height: 20px;
    left: 0;
    opacity: 0;
    z-index: 1;
  }

  .checkbox-group__item-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: $whiteColor;
    border: 1px solid $checkboxColor;
    border-radius: 2px;
    cursor: pointer;

    &:after {
      content: "";
      display: none;
      margin-left: 5px;
      width: 7px;
      height: 12px;
      border: solid $blueColor;
      border-width: 0 1px 1px 0;
      transform: rotate(45deg);
      cursor: pointer;
    }
  }

  .checkbox-group__item-checkbox:checked + .checkbox-group__item-checkmark {
    border-color: $blueColor;
    background-color: $whiteColor;

    &:after {
      display: block;
    }
  }
}