.app{
  font-family: "Open Sans", "Arial", sans-serif;
  background-color: #F3F7FA;
  margin: 0 auto;
  padding: 20px;
  min-height: 100vh;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}