$backgroundColor: #F3F7FA;
$blueColor: #2196F3;
$whiteColor: #FFFFFF;
$textColor: #4A4A4A;
$textHeaderColor: #A0B0B9;
$borderColor: #DFE5EC;
$checkboxColor: #9ABBCE;
$hoverCheckboxColor: #F1FCFF;
$shadowColor: rgba(0,0,0,0.1);
$shadowLogoColor: rgba(55, 104, 142, 0.25);

$fontSizeLarge: 24px;
$fontSizeSmall: 14px;
$fontSizeBase: 12px;

$baseGap: 20px;
$borderRadius: 5px;

$boxShadow: 0 2px 8px 0 $shadowColor;